.images_1 {
   /* background-image: url("https://i.postimg.cc/rFkgtP1p/2207-i201-024-F-m004-c9-architect-construction-engineer-isometric.jpg"); */
   background-image: url("https://i.ibb.co/gR63hPw/survey-form-research-marketing-mark-concept.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
  

}